<h3>Handling Missing catagorical Data

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

In [3]:
df = pd.read_csv(r"C:\Users\Admin\Downloads\train (1).csv",usecols=['GarageQual','FireplaceQu','SalePrice'])

In [4]:
df.head()

  FireplaceQu GarageQual  SalePrice
0         NaN         TA     208500
1          TA         TA     181500
2          TA         TA     223500
3          Gd         TA     140000
4          TA         TA     250000

In [6]:
df.isna().mean()*100

FireplaceQu    47.260274
GarageQual      5.547945
SalePrice       0.000000
dtype: float64

In [8]:
x_train , x_test, y_train , y_test = train_test_split(df.drop(columns='SalePrice',axis=1),df['SalePrice'],test_size=0.2,random_state=0)

In [9]:
imputer = SimpleImputer(strategy='most_frequent')

In [10]:
trf = ColumnTransformer([
    ('Impute1',imputer,['GarageQual']),
    ('Impute2',imputer,['FireplaceQu'])
],remainder='passthrough')

In [11]:
x_train = trf.fit_transform(x_train)
x_test = trf.transform(x_test)

In [14]:
trf.named_transformers_['Impute1'].statistics_
trf.named_transformers_['Impute2'].statistics_

array(['Gd'], dtype=object)

In [15]:
imputer = SimpleImputer(strategy='constatnt',fill_value='Missing')

In [ ]:
x_train = imputer.fit_transform(x_train)
x_test = imputer.transform(x_test)