<h2>Feature Construction
<h3>Feature Spliting

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [16]:
df = pd.read_csv(r"C:\Users\Admin\Downloads\titanic\train.csv",usecols=('Age','Pclass','SibSp','Parch','Survived'))

In [17]:
df.head()

   Survived  Pclass   Age  SibSp  Parch
0         0       3  22.0      1      0
1         1       1  38.0      1      0
2         1       3  26.0      0      0
3         1       1  35.0      1      0
4         0       3  35.0      0      0

In [18]:
df.dropna(inplace=True)

In [20]:
x = df.drop(columns='Survived',axis=1)
y = df['Survived']

In [26]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring='accuracy',cv=20))

np.float64(0.6933333333333332)

In [30]:
x['Family_size'] = x['SibSp']+x['Parch']+1

In [33]:
x = x.drop(columns='Family_size=',axis=1)

In [35]:
def myfunc(num):
    if num == 1:
        #alone
        return 0
    elif num >1 and num <=4:
        # small family
        return 1
    else:
        # large family
        return 2

In [34]:
x.head()

   Pclass   Age  SibSp  Parch  Family_size
0       3  22.0      1      0            2
1       1  38.0      1      0            2
2       3  26.0      0      0            1
3       1  35.0      1      0            2
4       3  35.0      0      0            1

In [36]:
myfunc(4)

1

In [38]:
x['Family_type'] = x['Family_size'].apply(myfunc)

In [40]:
x.head()

   Pclass   Age  SibSp  Parch  Family_size  Family_type
0       3  22.0      1      0            2            1
1       1  38.0      1      0            2            1
2       3  26.0      0      0            1            0
3       1  35.0      1      0            2            1
4       3  35.0      0      0            1            0

In [41]:
x.drop(columns=['SibSp','Parch','Family_size'],inplace=True)

In [43]:
np.mean(cross_val_score(LogisticRegression(),x,y,scoring='accuracy',cv=20))

np.float64(0.7003174603174602)